body{

margin:0;
overflow:hidden;

background:#1b5e20;

font-family:monospace;

touch-action:none;

}

canvas{

display:block;

}

/* start screen */

#startScreen{

position:absolute;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.8);

color:white;

display:flex;

flex-direction:column;

justify-content:center;
align-items:center;

text-align:center;

}

/* controls */

.control{

position:fixed;

width:70px;
height:70px;

font-size:28px;

border:none;
border-radius:12px;

background:white;

}

/* corners */

.up{
bottom:140px;
left:80px;
}

.left{
bottom:70px;
left:10px;
}

.right{
bottom:70px;
left:150px;
}

.down{
bottom:10px;
left:80px;
}

.shoot{

bottom:70px;
right:30px;

font-size:30px;

}

.control:active{

background:#ddd;

}
